{% comment %}
  product,
  class
{% endcomment %}
<product-card class="product-video-card__wrapper {{ class }}" data-section="{{ section.id }}">
  <script type="application/json" id="p-data">
    {
      "data": {{ product | json }}
    }
  </script>
<li class="product-video-card">
  <div class="product-video-card__video-container">
    {% for media in product.media %}
      {% if media.media_type == 'video' %}
        {{ media | video_tag: autoplay: true, loop: true, muted: true, controls: false  }}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>
  <button class="product-video-card__footer">
    <div class="product-video-card__image-wrapper">
      {{ product.featured_image | image_url: width: 300 | image_tag: class: 'product-video-card__image image--contain' }}
    </div>
    <div class="product-video-card__info">
      <span class="product-video-card__title">{{ product.title }}</span>
      <span class="product-video-card__price">{{ product.price | money }}</span>
    </div>
    <span class="button product-video-card__quick-add js-atc">
      <svg width="32" height="32" aria-hidden="false">
        <use xlink:href="#icon-quick-add"></use>
      </svg>
      {%- render 'loadingSpinner' -%}
    </span>
  </button>
</li>
</product-card>