{{ 'shippingProgress.css' | asset_url | stylesheet_tag}}
{% assign threshold = 1000 %}
{% assign cart_total = cart.total_price %}
{% assign percentage = cart_total | divided_by: threshold %}
{% assign threshold = threshold | times: 100 %}
{% assign remaining = threshold | minus: cart_total %}
<div class="shipping-progress">
    <span class="shipping-progress__text">
        {% if cart_total == 0 %}
            {%- comment -%} No message if the cart is empty {%- endcomment -%}
          {% elsif cart_total < threshold %}
            You are <span class="shipping-progress__remaining">{{ remaining | money }}</span> away from eligible for free shipping

          {% else %}
            Free Shipping
          {% endif %}
    </span>
    <div class="shipping-progress__bar-container">
        <span class="shipping-progress__min">0$</span>
        <div class="shipping-progress__bar">
            <div class="shipping-progress__bar-inner" style="--width:calc(min(100,{{ percentage }})*1%)" data-width="calc(min(100,{{ percentage }})*1%)"
                percentage="{{ percentage }}" ></div>
        </div>
        <span class="shipping-progress__max">${{ threshold | divided_by: 100 }}</span>
    </div>
</div>