{{ 'bannerImage.css' | asset_url | stylesheet_tag }}
<section class="banner-image">
    <div class="banner-image__wrapper">
        {{ section.settings.banner_image | image_url: width: 2000 | image_tag: class: 'banner-image__image image--cover' }}
        <div class="banner-image__content">
            <div class="banner-image__title">
                <h2 class="banner-image__h2" style="--color-text:{{ section.settings.text_color }}">{{ section.settings.title }}</h2>
                <h3 class="banner-image__h3" style="--color-text:{{ section.settings.text_color }}">{{ section.settings.subtitle }}</h3>
            </div>
            <div class="banner-image__buttons">
                {% for block in section.blocks %}
                    <button class="banner-image__button" style="--border-color:{{  block.settings.border_color }};--bg-color:{{ block.settings.bg_color }};--color-text:{{ block.settings.text_color }};">{{ block.settings.text }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% schema %}
{
  "name": "Banner image",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "The Next Generation is Here"
    },
    {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Innovative Engineering. Intelligent Design. Meet The Plunge All-I."
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#ffffff"
    },
    {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner image"
    }
  ],
  "blocks": [
    {
        "type": "Button",
        "name": "Button",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "Button text",
                "default": "Take The Plunge"
            },
            {
                "type": "color",
                "id": "border_color",
                "label": "Button border color",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Button background color",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Button text color",
                "default": "#1B1F23"
            },
        ]
    }
  ],
  "presets": [
    {
      "name": "Banner image"
    }
  ]
}
{% endschema %}