{% comment %} <link
  rel="stylesheet"
  href="{{ 'cardsLinksSection.css' | asset_url }}"
  media="print"
  onload="this.media='all'; this.onload=null;"
> {% endcomment %}
{{ 'cardsLinksSection.css' | asset_url | stylesheet_tag }}
<section class="cards-links">
    <div class="cards-links__headings">
        <h1 class="cards-links__h1">
            {{ section.settings.header_1 }}
        </h1>
        <div class="cards-links__subheadings">
            <h2 class="cards-links__h2">{{ section.settings.header_2 }}</h2>
            <h3 class="cards-links__h3">{{ section.settings.header_3 }}</h3>
        </div>
    </div>
    <ul class="cards-links__cards">
        {% for block in section.blocks %}
          {% render 'cardLink', block: block %}
        {% endfor %}
    </ul>
</section>
{% schema %}
{
  "name": "Cards with links",
  "settings": [
    {
      "type": "text",
      "id": "header_1",
      "label": "Header top",
      "default": "COMFORTABLY UNCOMFORTABLE"
    },
    {
      "type": "text",
      "id": "header_2",
      "label": "Header middle",
      "default": "Start with your Goals"
    },
    {
      "type": "text",
      "id": "header_3",
      "label": "Header bottom",
      "default": "We cannot become what we want to be by remaining what we are."
    }
  ],
  "blocks": [
    {
      "type": "Card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "label": "Card image",
          "id": "card_image"
        },
        {
          "type": "text",
          "label": "Card title",
          "id": "card_title",
          "default": "Cognitive Function"
        },
        {
          "type": "text",
          "label": "Card subtitle",
          "id": "card_subtitle",
          "default": "Enhance your brain's performance and connectivity"
        },
        {
            "type": "url",
            "label": "Url",
            "id": "url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cards with links"
    }
  ]
}
{% endschema %}
