{{ 'hero.css' | asset_url | stylesheet_tag }}

<div class="hero">
  {{ section.settings.hero_image | image_url: width: 2000 | image_tag: class: 'hero__image image--cover' }}
  <div class="hero__video">
  {{ section.settings.hero_video | video_tag: autoplay: true, loop: true, muted: true, controls: false  }}
  </div>
    <div class="hero__content">
    <h2 class="hero__title">{{ section.settings.hero_title }}</h2>
    <a href="{{ section.settings.hero_cta-url }}" class="button--secondary">{{ section.settings.hero_cta }}</a>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const heroImage = document.querySelector(".hero__image");
    const heroVideo = document.querySelector(".hero video");
  
    if (heroVideo) {
      // Ensure the video has no sound and autoplays
      heroVideo.muted = true;
      heroVideo.autoplay = true;
      heroVideo.loop = true; // Optional: loops the video
  
      // Hide the image until the video is ready
      heroVideo.style.display = "none";
      heroVideo.addEventListener("canplay", () => {
        heroImage.style.display = "none"; // Hide the image
        heroVideo.style.display = "block"; // Show the video
        heroVideo.play();
      });
    }
  });
  
</script>
{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type":"video",
      "id": "hero_video",
      "label": "Hero video"
    },
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero title",
      "default":"Great things never came from comfort zones."
    },
    {
      "type": "text",
      "id": "hero_cta",
      "label": "Hero cta",
      "default":"Shop Now"
    },
    {
      "type": "text",
      "id": "hero_cta-url",
      "label": "Hero cta url"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
