{{ 'socialMedia.css' | asset_url | stylesheet_tag }}
<section class="social-media">
    <div class="social-media__info">
        <div class="social-media__info-header">
            {{ section.settings.brand_logo | image_url: width: 200 | image_tag: class: 'social-media__info-logo image--contain' }}
            <span class="social-media__username"><span>@</span>{{ section.settings.social_username }}</span>
        </div>
        <a href="{{ section.settings.social_url }}" class="social-media__link">{{ section.settings.social_cta }}</a>
    </div>
    {% for block in section.blocks %}
        {{ block.settings.post | image_url: width: 200 | image_tag: class: 'social-media__post image--cover' }}
    {% endfor %}
</section>
{% schema %}
{
  "name": "Social media",
  "settings": [
    {
        "type": "image_picker",
        "id": "brand_logo",
        "label": "Brand logo"
    },
    {
        "type": "text",
        "id": "social_username",
        "label": "username",
        "default": "uncmfrt.com"
    },
    {
        "type": "text",
        "id": "social_cta",
        "label": "Cta button text",
        "default":"Follow Us on Instagram"
    },
    {
        "type": "url",
        "id": "social_url",
        "label": "Url social media"
    }
  ],
  "blocks": [
    {
        "type": "SocialMedia",
        "name": "Social Media",
        "settings": [
            {
                "type": "image_picker",
                "label": "Post",
                "id": "post"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Social media"
    }
  ]
}
{% endschema %}